{%extends 'base.html'%}{%load bootstrap5%}{% load static %}
{%block content%}

<!-- 
 <div class="container-fluid shadow" style="height: 80vh;width: 100%;margin-top:1%;background-image: url(/static/images/nutrition7.jpg);">
    <h1  style="padding-top: 8%;padding-bottom:25%;padding-left:30%;color: white;">Mercy Kerubo</h1>
  </div> -->
   

<div class="container_fluid">
 
        
<!-- Carousel Wrapper -->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
   
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100" src="/static/images/pexels-photo-7985175.jpg"
            alt="First slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive" style="font-family: Sofia, sans-serif;">Nutritionist & Dietician</h3>
          
        </div>
      </div>
      <div class="carousel-item">
        
        <div class="view">
          <img class="d-block w-100" src="/static/images/pexels-photo-4553115.jpg"   alt="Second slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive" style="font-family: Sofia, sans-serif;">Nutritionist & Dietician</h3>
          
        </div>
      </div>
      <div class="carousel-item">
        
        <div class="view">
          <img class="d-block w-100" src="/static/images/pexels-photo-1028599.jpg"   alt="Second slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive" style="font-family: Sofia, sans-serif;">Nutritionist & Dietician</h3>
          
        </div>
      </div>
      <div class="carousel-item">
        
        <div class="view">
          <img class="d-block w-100" src="/static/images/pexels-photo-5946605.jpg"
            alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive" style="font-family: Sofia, sans-serif;">Nutritionist & Dietician</h3>
       
        </div>
      </div>
    </div>
    
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    
  </div> 
  <!--Carousel Wrapper-->
      
   
   
      
 </div>
    
    
     <div class="container">
      <div class="row" style="box-shadow: 2px 2px 2px 2px gainsboro;margin-top: 2%;padding-top: 2%;padding-bottom: 3%;">

      
      <h1 style="text-align: center;margin-top: 3%;">About Me</h1>

      <div class="col-md-1"></div>
      <!-- <div class="col-md-5">
        <img src="/static/images/mercypic.jpeg" alt="" style="border-radius: 60%;height: 99%;width: 90%;">
      </div> -->
      <div class="col-md-4">
        <h2 style="font-family: Cursive;text-align: center;"><b>Nutritionist <br> & <br>Dietician</b></h2>
      </div>
      <div class="col-md-6">
        
        
        <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
          I'm a Passionate and experienced nutritionist with a proven track record of helping clients to achieve their nutrition goals and manage their health. Adept in assessing the needs of individual clients and developing personal meal plans to best promote health. Bringing forth a deep understanding of how nutrition and food affect health, weight, and lifestyle.
        </p>
      </div>
      <div class="col-md-1"></div>
     </div>
     </div>

     <div class="row" style="align-items: center;margin-top: 3%;">
      <!-- <h1 style="text-align: center;margin-top: 2%; margin-bottom: 2%;">Pictures</h1> -->
      <div class="col-md-1"></div>
      
      <div class="col-md-5" style="box-shadow:2px 2px 2px 2px gainsboro ;">
        <img src="/static/images/nutrition7.jpg" alt="" style="height: 95%;width: 98%;padding-bottom: 2%;">

      </div>
      
      <div class="col-md-5" style="box-shadow:2px 2px 2px 2px gainsboro ; ">
        <img src="/static/images/nutrition6.jpg" alt="" style="height: 95%;width: 98%;padding-bottom: 2%;">

      </div>
     
      
    
     </div>
      

</div>


 


{%endblock%}