
<nav class="pl-5 pr-5 navbar navbar-expand-lg  bg-white shadow sticky-top" >

    <!-- Navbar brand -->
    <a class="navbar-brand font-weight-bold" href="{% url 'index' %}" style="color: black;">MERCY KERUBO</a>
  
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
      <!-- <span class="navbar-toggler-icon"></span> -->
    </button>
  
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto" style="align-items: right ;">
          <li class="text-black nav-item">
            <a class="nav-link font-weight-bold" href="{% url 'index' %}" style="color: rgb(18, 139, 14);font-family: georgia;">HOME</a>
          </li>
          <li class="text-black nav-item">
            <a class="nav-link font-weight-bold" href="#about" style="color: rgb(18, 139, 14);font-family: georgia;">ABOUT</a>
          </li>
          <li class="text-black nav-item">
            <a class="nav-link font-weight-bold" href="#about" style="color: rgb(18, 139, 14);font-family: georgia;">SERVICES</a>
          </li>
          <li class="text-black nav-item">
            <a class="nav-link font-weight-bold" href="#about" style="color: rgb(18, 139, 14);font-family: georgia;">CONTACT</a>
          </li>
          
      
       
       
        </ul>
       
      <!-- Links -->
      
      

    </div>
    <!-- Collapsible content -->
  </nav>
  <!--/Navbar-->